<div class="container p-1">
    <h2 class="text-start"> {{ pageTitle }}</h2>
    <div class="container border">
        <form [formGroup]="pessoaForm" class=" p-4 needs-validation-pessoa" novalidate>
            <h4 class="text-center">Dados Pessoais</h4>
            <div class="form-row w-100 row justify-content-between my-3">
                <div class="form-group col-md-6 d-flex justify-content-between my-2">
                    <label class="text-center" for="name">Nome</label>
                    @if (loading) {
                    <p class="placeholder-glow placeholder-lg w-50 h-100">
                        <span class="placeholder col-12 h-100 rounded"></span>
                    </p>

                    } @else {
                    <input [class.is-invalid]="pessoaForm.get('nome')?.invalid && pessoaForm.get('nome')?.touched"
                        type="text" class="form-control ms-5 w-50" id="name" placeholder="Nome" formControlName="nome"
                        value="Mark" required>
                    }

                </div>
                <div class="form-group col-md-6 d-flex justify-content-between my-2">
                    <label class="text-center" for="age">Idade</label>
                    @if (loading) {
                    <p class="placeholder-glow w-50 h-100">
                        <span class="placeholder col-12 h-100 rounded"></span>
                    </p>

                    } @else {
                    <input [class.is-invalid]="pessoaForm.get('idade')?.invalid && pessoaForm.get('idade')?.touched"
                        type="number" class="form-control ms-5 w-50" id="age" placeholder="Idade"
                        formControlName="idade" value="Mark" required>
                    }

                </div>
            </div>
            <div class="form-row w-100 row justify-content-between my-3">
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label class="text-center" for="email">Email</label>
                    @if (loading) {
                    <p class="placeholder-glow w-50 h-100">
                        <span class="placeholder col-12 h-100 rounded"></span>
                    </p>

                    } @else {
                    <input [class.is-invalid]="pessoaForm.get('email')?.invalid && pessoaForm.get('email')?.touched"
                        type="email" class="form-control ms-5 w-50" id="email" placeholder="Email"
                        formControlName="email" value="Mark" required>
                    }
                </div>
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label class="" for="dataNascimento">Data de Nascimento</label>
                    @if (loading) {
                    <p class="placeholder-glow w-50 h-100">
                        <span class="placeholder col-12 h-100 rounded"></span>
                    </p>

                    } @else {
                    <div class="input-group ms-5 w-50">
                        <input name="dp" ngbDatepicker #d="ngbDatepicker" class="form-control" id="dataNascimento"
                            placeholder="dd-mm-aaaa" formControlName="dataNascimento" value="Mark" required />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                            type="button"></button>
                    </div>

                    }


                </div>
            </div>
            <div class="form-row w-100 row justify-content-between my-3">
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label for="phone">Telefone</label>
                    @if (loading) {
                    <p class="placeholder-glow w-50 h-100">
                        <span class="placeholder col-12 h-100 rounded"></span>
                    </p>

                    } @else {
                    <input
                        [class.is-invalid]="pessoaForm.get('telefone')?.invalid && pessoaForm.get('telefone')?.touched"
                        type="text" class="form-control ms-5 w-50" id="phone" placeholder="Telefone"
                        formControlName="telefone" value="Mark" required>

                    }
                </div>
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label for="celphone">Celular</label>
                    @if (loading) {
                    <p class="placeholder-glow w-50 h-100">
                        <span class="placeholder col-12 h-100 rounded"></span>
                    </p>

                    } @else {
                    <input [class.is-invalid]="pessoaForm.get('celular')?.invalid && pessoaForm.get('celular')?.touched"
                        type="text" class="form-control ms-5 w-50" id="celphone" placeholder="Celular"
                        formControlName="celular" value="Mark">

                    }
                </div>
            </div>

        </form>
        <hr class="solid">
        <form [formGroup]="enderecoForm" class="p-4 needs-validation" novalidate>
            <h4 class="text-center">Endereços</h4>
            <div class="form-row w-100 row justify-content-between my-3">
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label class="text-center" for="name">Logradouro</label>
                    <input type="text" class="form-control ms-5 w-50" id="name" placeholder=""
                        formControlName="logradouro" value="Mark"
                        [class.is-invalid]="enderecoForm.get('logradouro')?.invalid && enderecoForm.get('logradouro')?.touched"
                        required>
                </div>
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label class="text-center" for="number">Numero</label>
                    <input type="text" class="form-control ms-5 w-50" id="number" placeholder=""
                        formControlName="numero" value="Mark" mask="9999"
                        [class.is-invalid]="enderecoForm.get('numero')?.invalid && enderecoForm.get('numero')?.touched"
                        required>
                </div>
            </div>
            <div class="form-row w-100 row justify-content-between my-3">
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label class="text-center" for="name">Bairro</label>
                    <input type="text" class="form-control ms-5 w-50" id="name" placeholder="" formControlName="bairro"
                        value="Mark"
                        [class.is-invalid]="enderecoForm.get('bairro')?.invalid && enderecoForm.get('bairro')?.touched"
                        required>
                </div>
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label class="text-center" for="number">Cidade</label>
                    <input type="text" class="form-control ms-5 w-50" id="number" placeholder=""
                        formControlName="cidade" value="Mark"
                        [class.is-invalid]="enderecoForm.get('cidade')?.invalid && enderecoForm.get('cidade')?.touched"
                        required>
                </div>
            </div>
            <div class="form-row w-100 row justify-content-between my-3">
                <div class="form-group col-md-6 d-flex justify-content-between">
                    <label class="text-center" for="name">UF</label>
                    <input type="text" class="form-control ms-5 w-50" id="name" placeholder="" formControlName="uf"
                        value="Mark" mask="UU"
                        [class.is-invalid]="enderecoForm.get('uf')?.invalid && enderecoForm.get('uf')?.touched"
                        required>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button class="btn btn-primary" (click)="onSubmitEndereco()"
                        [disabled]="enderecoForm.invalid || !pessoaId">Adicionar</button>
                </div>
            </div>
        </form>
        <div class="container px-5">
            @if (loading) {
            <div class="col-12 h-75 d-flex align-items-center justify-content-center pt-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            } @else {
            <app-table [dataTable]="enderecoList" [tableTitles]="enderecoTitle" [tableItemOrder]="enderecoItemOrder"
                classStyles="table table-striped" (deleteElementId)="deleteEndereco($event)"
                elementToBeDeleted="enderecoId"></app-table>
            }

        </div>

        <div class="row p-4">
            <div class="col-6 d-flex justify-content-start">
                <button routerLink="/" class="btn btn-primary mt-5">Voltar</button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button class="btn btn-primary mt-5" type="submit" [disabled]="pessoaForm.invalid"
                    (click)="onSubmit()">Salvar</button>
            </div>
        </div>
    </div>

</div>