<table [classList]="classStyles">
	@if (dataTable && dataTable.length >= 1) {
	<thead>
		<tr class="border border-3 border-black border-top-0 border-end-0 border-start-0 text-start">
			@for(item of tableTitles; track item; let isLast= $last ) {
			@if (isLast) {
			<th class="text-center" scope="col"> {{ item }}</th>
			} @else {
			<th scope="col"> {{ item }}</th>
			}

			}
		</tr>
	</thead>
	}
	<tbody>
		@for (item of dataTable; track item; let index = $index) {
		<tr class="text-start">
			@for (head of tableItemOrder; track head;) {
			@if (head === 'dataNascimento') {
			<td> {{ item[head] | date:'dd/MM/yyyy' }} </td>
			} @else if (head === 'cidade') {
			<td> {{ item.cidade }} - {{ item.uf }} </td>
			} @else if (head === 'telefone' || head === 'celular') {
			<td> {{ item[head] | phone }} </td>
			}@else {
			<td> {{ item[head] }} </td>
			}

			}
			<td class="text-center">
				@if (editButton){
				<button type="button" class="btn btn-warning mx-1" [routerLink]="['/editar/', item.pessoaId]">
					<i class="bi bi-pencil-square"></i>
				</button>
				}
				@if (elementToBeDeleted === 'enderecoId') {
				<button type="button" class="btn btn-danger mx-1"
					(click)="deleteElement(item.enderecoId, item.logradouro)">
					<i class="bi bi-trash"></i>
				</button>
				} @else if (elementToBeDeleted === 'pessoaId') {
				<button type="button" class="btn btn-danger mx-1" (click)="deleteElement(item.pessoaId, item.nome)">
					<i class="bi bi-trash"></i>
				</button>
				}

			</td>
		</tr>
		} @empty {
		}

	</tbody>
</table>